[Desktop Entry]
Type=Application
Name=Yaga
Comment=Browse photos and videos
Exec=python3 -m yaga
Icon=io.github.miscde.Yaga
Terminal=false
Categories=GNOME;GTK;Graphics;Photography;
StartupNotify=true

